    {{#with oneDoc}}
    <div class="col-6">
        <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value={{this.username}} placeholder="User ID" name="username">
        <label for="floatingInput">Change Id </label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value={{this.name}} placeholder="Name" name="name">
        <label for="floatingInput">Change Name </label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value={{this.email}}  placeholder="name@example.com" name="email">
        <label for="floatingInput">Change Email </label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value={{this.age}} placeholder="Age" name="age">
        <label for="floatingInput">Change Age</label>
        </div>
    </div>

    <div class="col-12 d-grid">
        <button class="btn btn-dark text-white" type="submit">Submit</button>
    </div>
    {{/with}}
